<!DOCTYPE html>
<html lang="es">
<head>
	<title>Alares</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/normalize.css">
	<link rel="stylesheet"  href="../static/css/alares.css">
</head>
<body>
	<div class="fondo1">
	<header class="yo">
		<div class="cabecera">
		<div class="contenedor-cabecera">
			<figure class="logo">
				<img src="../static/images/logo.jpg" alt="#" />
			</figure>				
		</div>
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Blog">Blog</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Sala de Prensa">Sala de Prensa</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>				
			</ul>
		</nav>		
		<div class="Orange">
			<a class="Orange-primero" href="#orange">Área Privada ></a>			
		</div>
		<nav class="MainMenu2">
			<ul class="MainMenu2-list2">
				<li class="MainMenu2-item2">
					<a class="MainMenu2-link2" href="#Particulares">Particulares</a>
				</li>
				<li class="MainMenu2-item2">
					<a class="MainMenu2-link2" href="#Empresas">Empresas</a>
				</li>
				<li class="MainMenu2-item2">
					<a class="MainMenu2-link2" href="#Sobre Alares">Sobre Alares</a>
				</li>
				<li class="MainMenu2-item2">
					<a class="MainMenu2-link2" href="#Fundaciones">Fundaciones</a>
				</li>
				<li class="MainMenu2-item2">
					<a class="MainMenu2-link2" href="#Todos los Servicios">Todos los Servicios</a>
				</li>
			</ul>
		</nav>	
	</header>	
		<section id="medio" class="medio">
			<figure class="foto">
				<img src="../static/images/foto.jpg" alt="#" />
			</figure>
			<h2>PRODUCTIVIDAD, CALIDAD DE VIDA Y RSC</h2>
				<p class="texto">Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.
				Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.</p>
			<div class="destacados">
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto1.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
				</article>
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen"></a>
					</figure>
				</article>	
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto1.jpg" alt="Es la descripcion de mi imagen"></a>
					</figure>
				</article>
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto1.jpg" alt="Es la descripcion de mi imagen"></a>
					</figure>
				</article>
			</div>			
		</section>
		<section class="contenido">

					<div class="izquierda">
						
						<ul class="MainMenu4-list4">
							<li class="MainMenu4-item4">
								<a class="MainMenu4-link4" href="#Publicado">Publicado</a>
							</li>
							<li class="MainMenu4-item4">
								<a class="MainMenu4-link4" href="#fecha">31/8/2018</a>
							</li>
							<li class="MainMenu4-item4">
								<a class="MainMenu4-link4" href="#Etiquetas">Etiquetas</a>
							</li>
						</ul>	


						<ul class="MainMenu3-list3">
							<li class="MainMenu3-item3">
								<a class="MainMenu3-link3" href="#sap">SAP</a>
							</li>
							<li class="MainMenu3-item3">
								<a class="MainMenu3-link3" href="#aesp">AESP</a>
							</li>
							<li class="MainMenu3-item3">
								<a class="MainMenu3-link3" href="#emprendimiento">EMPRENDIMIENTO</a>
							</li>
							<li class="MainMenu3-item3">
								<a class="MainMenu3-link3" href="#bienestar-social">BIENESTAR SOCIAL</a>
							</li>
				
						</ul>
					
					</div>

					<article class="item">
							<figure class="imagen_item">
								<img src="../static/images/foto3.jpg" alt="#" />
							</figure>	
							<div class="letras">
								<h2 class="titulo_item">
									<a class="he" href="#">
									El sector de Servicios a la Persona, un nuevo yacimiento de empleo en potencia
									</a>
								</h2>	
									<p class="texto"> Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac.
									Lorem ipsum dolor sit amet consectetur adipiscing elit, molestie magna lobortis aenean torquent varius, aptent ligula quam ad vel hac. </p>

									<p class="boton"> <a class="boton1" href="#leer">LEER MÁS</a>
									</p>
							</div>

		</section>

		<footer>
			<nav>
				<ul class="MainMenu5-list5">
					<li class="MainMenu5-item5">
						<a class="MainMenu5-link5" href="#">Copyright 2014 Alares</a>
					</li>
					<li class="MainMenu5-item5">
						<a class="MainMenu5-link5" href="#">Condiciones de uso</a>
					</li>
					<li class="MainMenu5-item5">
						<a class="MainMenu5-link5" href="#">Política de privacidad</a>
					</li>
					<li class="MainMenu5-item5">
						<a class="MainMenu5-link5" href="#bienestar-social">Accesibilidad</a>
					</li>					
				</ul>
			</nav>
		</footer>	
</body>
</html>