





html{
	font-size: 17px;
}

body
{
	margin-left: 0;
	font-size: 16px;
	margin: 0;
}

header
{	
	padding: 10px;
}

h1
{
	color: #1d5682;
	font-family: opensans;
	font-size: 1em;
	line-height: 25px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

ul
{
	list-style:none;
}


.section-main{
	position: relative;
	padding-bottom: 25px;
}

.section-main span{
	padding-left: 14px;
	display: inline-block;
}

.section-main__title{
	font-family: OpenSans;
	font-size: 1.111em;
	margin-left: 25px;
	margin-bottom: 35px;
}

.section-main__foto{
	background-repeat: no-repeat;
	background-size: cover;
	height: 460px;
}
.section-main__list{
	margin: 0;
	padding-left: 25px;
}

.section-main__item{
	font: bold 0.794em/1.1em 'Open Sans';
	margin-bottom: 35px;
	
}

.section-main__item:last-child{
	margin-bottom: 0;
}

.section-main__item a{
	color: #fee8dd;
	text-decoration: none;
}

/* SECTION WHO */

.section-main--who
{
	background-color: #008f96;	
}

.section-main--who .section-main__title{
	color: #00464a;
}

.section-main--who .section-main__foto{
	background-image: url('../images/foto1.jpg?s=988888');	
}

/* SECTION WHAT */

.section-main--what
{
	background-color: #f97500;
	color: #934500;

}

.section-main--what .section-main__foto{
	background-image: url('../images/foto2.jpg?s=988888');	
}

/* SECTION HOW */

.section-main--how
{
	background-color: #f97500;
	color: #3c5314;
}
.section-main--how .section-main__foto{
	background-image: url('../images/foto3.jpg?s=988888');	
}

/* SECTION WHERE */

.section-main--where
{
	background-color: #f97500;
	color: #876410;
}
.section-main--where .section-main__foto{
	background-image: url('../images/foto4.jpg?s=988888');	
}

.section-main__description{
	background-color: rgba(255,255,255,.9);
	color: #008f96;
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;	
	left: 0;
	padding-bottom: 22px;
	width: 100%;
	padding-top: 22px;
	position: absolute;
	top: 323px;
}
.section-main__description2{
	background-color: rgba(255,255,255,.9);
	color: #f97500;
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;	
	left: 0;
	padding-bottom: 22px;
	padding-top: 22px;
	position: absolute;
	top: 323px;
	width: 100%;
}
.section-main__description3{
	background-color: rgba(255,255,255,.9);
	color: #5f8320;
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;	
	left: 0;
	padding-bottom: 22px;
	width: 100%;
	padding-top: 22px;
	position: absolute;
	top: 323px;
}
.section-main__description4{
	background-color: rgba(255,255,255,.9);
	color: #e4b65c;
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;	
	left: 0;
	padding-bottom: 22px;
	width: 99%;
	padding-top: 22px;
	position: absolute;
	top: 323px;
	width: 100%;
}


.section-main-list
{
	font-family: Lora;
}
	

.menu-list
{
	list-style:none
}

.What-description
{
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;
	background-color: rgba(255,255,255,.9);
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 0px;
	padding-left: 21px;
	color: #5f8320;
}

.section-main--how
{
	background-color: #5f8320;
	color: #3c5314;
	
	
}

.How-description
{
	font-family: Lora;
	font-size: 1.111em;
	font-style: italic;
	background-color: rgba(255,255,255,.9);
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 0px;
	padding-left: 21px;
	color: #e0a61a;
}

.section-main--where
{
	background-color: #e0a61a;
	color: #956e11;
	margin-top: -15px;
}


footer
{
	background: #222222;
	height: 140px;
	margin-top: -16px;

}

.ie
{
	font-size: 1em;
	font-family: OpenSans;
	font-weight: bold;
	color: #333333;
	line-height: 140px;
	padding-left: 19px;
}

@media screen and (max-width: 767px) {
	.mainMenu{
		display: none;
	}

}


/* VERSIÓN TABLET */

@media screen and (min-width: 768px) {

	h1{
		font-size: 1.21rem;
		text-align: center;
		height: 61.22px;
		line-height: 61.22px;
	}

	section{
		text-align: center;
	}

	li:last-child {
		display: none;
	}

	li:nth-child(5) {
		border-right: none;
	}

	.mainMenu{
		background: #232323;
		height: 75.5px;
	}

	

	.mainMenu-item{
		display: inline-block;
		border-right: 1.2px solid #181818 ;
		padding-right:38.8px;
		padding-left: 16px;
		height: 75.5px;
	}

	.mainMenu-item:last-child{
		border-right: none;
	}

	.mainMenu-link{
		font-size: 0.78rem;
		font-weight: bold;
		font-family: opensans;
		color: #363636;
		text-decoration: none;
		line-height: 75.5px;
		margin-left: 60px;
		margin-left: 2px;
	}
	
	h2{
		display: none;
	}



	.section-main{
		padding-bottom: 0;
	}
	
	.section-main__description{
		font-size: 2.8rem;
		text-align: center;
		font-family: Lora;
		font-style: italic;
		word-spacing: 10px;
		background-color: rgba(255,255,255,0);
		color: #ffffff;
		position: absolute;
		top: 600px;
		right: 23px;

	}

	.section-main__foto{
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	
	}
	.section-main--who {
  	background-color: rgba(255,255,255,0);
  	
	}

	
	.section-main__list{
		display: none;
	}


	.section-main--what{
		display: none;
	}
	.section-main--how{
		display: none;
	}
	.section-main--where
	{
		display: none;
	}

	footer{
		display: none;
	}


}

/* VERSIÓN PANTALLA GRANDE */
@media screen and (min-width: 820px) {

	.mainMenu{
		background: #232323;
		height: 75.5px;
	}

	.description{

	}

	section{
		text-align: center;
	}

	.section-main span{
	font-size: 35px;
}

	

	.mainMenu-item{
		display: inline-block;
		border-right: none; ;
		height: 75.5px;
	}
	.mainMenu-link{
		font-size: 0.78rem;
		font-weight: bold;
		font-family: opensans;
		color: #363636;
		text-decoration: none;
		line-height: 75.5px;
		margin-left: 60px;
		margin-left: 2px;
	}



	
	
}
/*CONTENEDOR GENERAL*/



/*FUENTES*/


@font-face {
	font-family: 'puls4';
	src:url('../fonts/puls4.eot?-53vj64');
	src:url('../fonts/puls4.eot?#iefix-53vj64') format('embedded-opentype'),
		url('../fonts/puls4.ttf?-53vj64') format('truetype'),
		url('../fonts/puls4.woff?-53vj64') format('woff'),
		url('../fonts/puls4.svg?-53vj64#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lapiz:before {
	content: "\e908";
}
.icon-estrella:before {
	content: "\e9d9";
	
}
.icon-happy:before {
	content: "\e9df";
	font-size: 1.5rem;
	padding-right: 6px;
	
	
}
.icon-smile:before {
	content: "\e9e1";
	font-size: 1.5rem;
	padding-right: 6px;
	
}
.icon-shocked:before {
	content: "\e9f1";
	font-size: 1.5rem;
	padding-right: 5px;
	
}
.icon-confused:before {
	content: "\e9f5";
	font-size: 1.5rem;
	padding-right: 6px;
	
}
.icon-f-arriba:before {
	content: "\ea32";
}
.icon-f-abajo:before {
	content: "\ea36";
}
.icon-italic:before {
	content: "\ea64";
	font-size: 1.5rem;
	
	
}



  


/*FUENTES2*/


@font-face {
	font-family: 'puls4';
	src:url('../fonts/puls4.eot?-53vj64');
	src:url('../fonts/puls4.eot?#iefix-53vj64') format('embedded-opentype'),
		url('../fonts/puls4.ttf?-53vj64') format('truetype'),
		url('../fonts/puls4.woff?-53vj64') format('woff'),
		url('../fonts/puls4.svg?-53vj64#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lapiz:before {
	content: "\e908";
}
.icon-estrella:before {
	content: "\e9d9";
	
}
.icon-happy:before {
	content: "\e9df";
	font-size: 1.5rem;
	padding-right: 6px;
	
	
}
.icon-smile:before {
	content: "\e9e1";
	font-size: 1.5rem;
	padding-right: 6px;
	
}
.icon-shocked:before {
	content: "\e9f1";
	font-size: 1.5rem;
	padding-right: 5px;
	
}
.icon-confused:before {
	content: "\e9f5";
	font-size: 1.5rem;
	padding-right: 6px;
	
}
.icon-f-arriba:before {
	content: "\ea32";
}
.icon-f-abajo:before {
	content: "\ea36";
}
.icon-italic:before {
	content: "\ea64";
	font-size: 1.5rem;
	
	
}







