<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Kappa</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet"  href="../static/css/kappa.css">
	</head>
<body>

	<header>
		
		<div class="contprimero">
			<p class="fecha">October18,2018</p>
			<ul class="contprimero-list">
				<li class="contprimero-item">
					<a class="contprimero-link" href="#">VIEW ONLINE</a>
				</li>
				<li class="contprimero-item">
					<a class="contprimero-link" href="#">FORWARD</a>
				</li>	
			</ul>	
		</div>

		<section class="contsegundo">
			<figure class="logo">
					<img src="../static/images/kappa.jpg" alt="#" />
			</figure>
			<ul class="contsegundo-list">
				<li class="contsegundo-item">
					<a class="contsegundo-link" href="https://es-es.facebook.com/">
						<img src="../static/images/ico_facebook.png" alt="#" />
					</a>
				</li>
				<li class="contsegundo-item">
					<a class="contsegundo-link" href="https://twitter.com/?lang=es/">
						<img src="../static/images/ico_twitter.png" alt="#" />
					</a>
				</li>
				<li class="contsegundo-item">
					<a class="contsegundo-link" href="https://www.google.es/maps/">
						<img src="../static/images/ico_gplus.png" alt="#" />
					</a>
				</li>	
				<li class="contsegundo-item">
					<a class="contsegundo-link" href="https://es.pinterest.com/">
						<img src="../static/images/ico_pinterest.png" alt="#" />
					</a>
				</li>	
				<li class="contsegundo-item">
					<a class="contsegundo-link" href="https://instagram.com/">
						<img src="../static/images/ico_instagram.png" alt="#" />
					</a>
				</li>		
			</ul>
		</section>
	</header>
			
		<div class="conttercero">
			<ul class="conttercero-list">
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Flights</a>
				</li>
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Cruises</a>
				</li>
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Hotels</a>
				</li>	
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Special</a>
				</li>	
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Offters</a>
				</li>	
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Top Destination</a>
				</li>
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Traveling</a>
				</li>
				<li class="conttercero-item">
					<a class="conttercero-link" href="#">Guides</a>
				</li>	
			</ul>
		</div>
		<div class="imagen">
			<figure class="imagen-cambio">
					<img class="imagen-pequeña" src="../static/images/hero.jpg" alt="#" />
			</figure>
		</div>

		<h2 class="ofertas ancho">Last Offers</h2>
		<div class="fondo1">
		<section class="contpaises">
			<ul class="contpaises-list">
				<li class="contpaises-item">
					<div class="color">
					<a class="contpaises-link" href="#">Italy</a>
					</div>
						<figure class="contpaises-imagen ">
							<a href="#"><img class="contpaises-imagen2 ajustar" src="../static/images/image19.jpg" alt="Es la descripcion de mi imagen" /></a>
						</figure>
						<p class="parrafo">The fascination of Tuscany!</p>

						<ul class="continterior-list">
							<li class="continterior-item">
								<img src="../static/images/ico_plane.jpg" alt="#" />
								<a class="continterior-link" href="#">Plane</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_days.jpg" alt="#" />
								<a class="continterior-link" href="#">6 Days</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_nights.jpg" alt="#" />
								<a class="continterior-link" href="#">5 nights</a>
							</li>	
							<li class="continterior-item">
								<img src="../static/images/ico_date.jpg" alt="#" />
								<a class="continterior-link" href="#">06.06.2018-12-06-2018</a>
							</li>		
						</ul>
						<ul class="contterminado-list">
							<li class="contterminado-item">
								<a class="contterminado-link" href="#">Prices start from $700.00</a>
							</li>
							<li class="contterminado-item z">
								<a class="contterminado-link x" href="#">View More</a>
							</li>	
						</ul>			 		
				</li>
				<li class="contpaises-item">
					<div class="color">
					<a class="contpaises-link" href="#">France</a>
					</div>
						<figure class="contpaises-imagen ">
							<a href="#"><img class="contpaises-imagen2 ajustar" src="../static/images/image17.jpg" alt="Es la descripcion de mi imagen" /></a>
						</figure>
						<p class="parrafo">The romantic of Paris!</p>

						<ul class="continterior-list">
							<li class="continterior-item">
								<img src="../static/images/ico_plane.jpg" alt="#" />
								<a class="continterior-link" href="#">Plane</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_days.jpg" alt="#" />
								<a class="continterior-link" href="#">6 Days</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_nights.jpg" alt="#" />
								<a class="continterior-link" href="#">5 nights</a>
							</li>	
							<li class="continterior-item">
								<img src="../static/images/ico_date.jpg" alt="#" />
								<a class="continterior-link" href="#">06.06.2018-12-06-2018</a>
							</li>
						</ul>			
				</li>
					
						
			<ul class="contterminado-list">
				<li class="contterminado-item">
					<a class="contterminado-link" href="#">Prices start from $670.00</a>
				</li>
				<li class="contterminado-item z">
					<a class="contterminado-link x" href="#">View More</a>
				</li>	
			</ul>
			<li class="contpaises-item">
					<div class="color">
					<a class="contpaises-link" href="#">Spain</a>
					</div>
						<figure class="contpaises-imagen ">
							<a href="#"><img class="contpaises-imagen2 ajustar" src="../static/images/image19.jpg" alt="Es la descripcion de mi imagen" /></a>
						</figure>
						<p class="parrafo">Great vacation in Barcelona!</p>

						<ul class="continterior-list">
							<li class="continterior-item">
								<img src="../static/images/ico_plane.jpg" alt="#" />
								<a class="continterior-link" href="#">Plane</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_days.jpg" alt="#" />
								<a class="continterior-link" href="#">6 Days</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_nights.jpg" alt="#" />
								<a class="continterior-link" href="#">5 nights</a>
							</li>	
							<li class="continterior-item">
								<img src="../static/images/ico_date.jpg" alt="#" />
								<a class="continterior-link" href="#">06.06.2018-12-06-2018</a>
							</li>		
						</ul>
						<ul class="contterminado-list">
							<li class="contterminado-item">
								<a class="contterminado-link" href="#">Prices start from $650.00</a>
							</li>
							<li class="contterminado-item z">
								<a class="contterminado-link x" href="#">View More</a>
							</li>	
						</ul>			 					
		</section>
		</div>


		<h2 class="ofertas ancho">New Offers</h2>
		<div class="fondo1">
		<section class="contpaises">
			<ul class="contpaises-list">
				<li class="contpaises-item">
					<div class="color2">
					<a class="contpaises-link" href="#">Italy</a>
					</div>
						<figure class="contpaises-imagen ">
							<a href="#"><img class="contpaises-imagen2 ajustar" src="../static/images/image19.jpg" alt="Es la descripcion de mi imagen" /></a>
						</figure>
						<p class="parrafo">The fascination of Tuscany!</p>

						<ul class="continterior-list">
							<li class="continterior-item">
								<img src="../static/images/ico_plane.jpg" alt="#" />
								<a class="continterior-link" href="#">Plane</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_days.jpg" alt="#" />
								<a class="continterior-link" href="#">6 Days</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_nights.jpg" alt="#" />
								<a class="continterior-link" href="#">5 nights</a>
							</li>	
							<li class="continterior-item">
								<img src="../static/images/ico_date.jpg" alt="#" />
								<a class="continterior-link" href="#">06.06.2018-12-06-2018</a>
							</li>		
						</ul>
						<ul class="contterminado-list">
							<li class="contterminado-item color2">
								<a class="contterminado-link" href="#">Prices start from $700.00</a>
							</li>
							<li class="contterminado-item z">
								<a class="contterminado-link x" href="#">View More</a>
							</li>	
						</ul>			 		
				</li>
				<li class="contpaises-item">
					<div class="color2">
					<a class="contpaises-link" href="#">Bora Bora</a>
					</div>
						<figure class="contpaises-imagen ">
							<a href="#"><img class="contpaises-imagen2 ajustar" src="../static/images/image20.jpg" alt="Es la descripcion de mi imagen" /></a>
						</figure>
						<p class="parrafo">Exotic vacation in Bora Bora!</p>

						<ul class="continterior-list">
							<li class="continterior-item">
								<img src="../static/images/ico_plane.jpg" alt="#" />
								<a class="continterior-link" href="#">Plane</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_days.jpg" alt="#" />
								<a class="continterior-link" href="#">6 Days</a>
							</li>
							<li class="continterior-item">
								<img src="../static/images/ico_nights.jpg" alt="#" />
								<a class="continterior-link" href="#">5 nights</a>
							</li>	
							<li class="continterior-item">
								<img src="../static/images/ico_date.jpg" alt="#" />
								<a class="continterior-link" href="#">06.06.2018-12-06-2018</a>
							</li>
						</ul>			
				</li>		
			<ul class="contterminado-list">
				<li class="contterminado-item color2">
					<a class="contterminado-link" href="#">Prices start from $670.00</a>
				</li>
				<li class="contterminado-item z">
					<a class="contterminado-link x" href="#">View More</a>
				</li>	
			</ul>

			<div class="banner">
				<figure class="banner-imageContainer">
					<a href="#"><img class="banner-image" src="../static/images/image28.jpg" alt="Es la descripcion de mi imagen" /></a>
				</figure>	
			</div>

		</div>
			<div class="adress">
				<h1 class="direccion">Get In Touch With Us</h1>
				<img class="icono-direccion" src="../static/images/ico_marker.jpg" alt="#" />
				<h2 class="direccion2">Address:</h2>
				<ul class="adress-list">
					<li class="adress-item">
						<a class="adress-link" href="#">Lorem ipsum dolor sit Amet</a>
					</li>
					<li class="adress-item">
						<a class="adress-link" href="#">Consectetur dolore</a>
					</li>	
				</ul>
				<img class="icono-direccion" src="../static/images/ico_phone.jpg" alt="#" />
				<h2 class="direccion2">Phone:</h2>
				<ul class="adress-list">
					<li class="adress-item">
						<a class="adress-link" href="#">+1 700 123 4567</a>
					</li>
					<li class="adress-item">
						<a class="adress-link" href="#">+1 900 123 4567</a>
					</li>	
				</ul>
				<img class="icono-direccion" src="../static/images/ico_email.jpg" alt="#" />
				<h2 class="direccion2">Email:</h2>
				<p class="email-correo">email@misitio.com email@misitio2.com</p>

			</div>

			<section class="contkappafree2">
				<figure class="logo2">
					<img src="../static/images/footer_kappa_free.png" alt="#" />
				</figure>
				<ul class="contkappafree2-list">
					<li class="contkappafree2-item">
						<a class="contkappafree2-link" href="https://es-es.facebook.com/">
							<img src="../static/images/ico2_facebook.jpg" alt="#" />
						</a>
					</li>
					<li class="contkappafree2-item">
						<a class="contkappafree2-link" href="https://twitter.com/?lang=es/">
							<img src="../static/images/ico2_twitter.jpg" alt="#" />
						</a>
					</li>
					<li class="contkappafree2-item">
						<a class="contkappafree2-link" href="https://www.google.es/maps/">
							<img src="../static/images/ico2_gplus.jpg" alt="#" />
						</a>
					</li>	
					<li class="contkappafree2-item">
						<a class="contkappafree2-link" href="https://es.pinterest.com/">
							<img src="../static/images/ico2_pinterest.jpg" alt="#" />
						</a>
					</li>	
					<li class="contkappafree2-item">
						<a class="contkappafree2-link" href="https://instagram.com/">
							<img src="../static/images/ico2_instagram.jpg" alt="#" />
						</a>
					</li>		
				</ul>
			</section>

			<footer class="pie">					
					<p class="pie-final">&copy;Copyright 2018 Company Name</p>
			</footer>







</body>			
</html>