<!DOCTYPE html>
 
<html lang="es">
 
<head>
    <title>nicedevice</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../static/css/reset.css">
    <link rel="stylesheet"  href="../static/css/nicedevice.css">
    <link rel="stylesheet"  href="../static/css/icomoon/style.css">
    <meta name="viewport" content="width=device-width"/>   
</head>
 
<body>
    <header>
       <nav class="Negromenu">
            <ul class="Negromenu-list">
              <li class="Negromenu-item">
              <a class="Negromenu-link" href="#"><span class="icon-child"></span>Entrar/Registrarse</a>
              </li>
              <li class="Negromenu-item">
              <a class="Negromenu-link" href="#"><span class="icon-search"></span>Ayuda</a>
              </li>
       </nav>
       
       <div class="contenedorbeis">
          <div class="contenedor-nicedevice">
            <figure class="logodevice">
                <img src="../static/images/nicedevice.jpg" alt="#" />
            </figure>
          </div>
          <nav class="Menuarriba">
                <ul class="Menuarriba-list">
                  <li class="Menuarriba-item">
                    <a class="Menuarriba-link" href="#carrito"><span class="icon-cart-arrow-down"></span></a>
                  </li>
                  <li class="Menuarriba-item">
                    <div class="cont-publica">                    
                    <a class="Menuarriba-link-blue" href="#">Publica tu anuncio</a>

                  </li>
                
                  <li class="Menuarriba-item">
                    <a class="Menuarriba-link" href="#">blog</a>
                  </li>
                  <li class="Menuarriba-item">
                    <a class="Menuarriba-link" href="#">cómo funciona</a>
                  </li>
                  <li class="Menuarriba-item azulito">
                    <a class="Menuarriba-link blancon" href="#">comprar</a>
                  </li>
              
                </ul>
          </nav> 
        </div>

        <div class="contenedorgris">
              <p class="compra"> Compra y vende productos apple de segunda mano </p>
              <p class="prueba"> Prueba 5 días tu producto y si no te gusta lo devuelves. Fácil y sin riesgos </p>
              <div class="recuadro"> 
                
              <select class="hole">
                <option value="valor">Todos los productos</option>
              </select>
              <select class="hole">
                <option value="valor">Todos los modelos</option>
              </select>
                <div class="rojo" >
                  <a href="#" class="buscar"> Buscar </a>
                
                </div>
        </div>

        </div>

      </header>  

        <div class="contenedor-fotos">
              <div class="contenedor-uno">
                  <div class="contenedor-primero">
                      <figure class="iphone">
                          <img src="../static/images/iphone.jpg" alt="#" />
                      </figure>
                  </div>
              </div> 

              <div class="contenedor-dos"> 
                  <div class="contenedor-segundo">
                      <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                       <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                      <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                  </div>

                <div class="contenedor-tres"> 
                  <div class="contenedor-segundo">
                      <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                       <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                      <figure class="iphonedos">
                          <img src="../static/images/iphonedos.jpg" alt="#" />
                      </figure>
                  </div>
  

              </div>

        </div>

       <div class="contenedor-cuatro"> 
                  <div class="contenedor-tercero">
                      <figure class="iphonetres">
                          <img src="../static/images/iphonetres.jpg" alt="#" />
                      </figure>
                       <figure class="iphonetres">
                          <img src="../static/images/iphonetres.jpg" alt="#" />
                      </figure>
                      <figure class="iphonethree">
                          <img src="../static/images/iphonetres.jpg" alt="#" />
                      </figure>
                      <figure class="iphonethree">
                          <img src="../static/images/iphonetres.jpg" alt="#" />
                      </figure>
                      <figure class="iphonethree">
                          <img src="../static/images/iphonetres.jpg" alt="#" />
                      </figure>
        </div> 
  
      <div class="blanco">

        <h2 class="funciona">Cómo funciona nicedevice</h2>
          <div class="cont-primer">
            <p class="number">1</p>
            <p class="frase-one">Elige tu producto y deposita el importe</p>
          </div>

          <div class="cont-segun">
            <p class="number">2</p>
            <p class="frase-two">Pruébalo en tu casa durante cinco días</p>
          </div>

          <div class="cont-tercer">
            <p class="number">3</p>
            <p class="frase-three">Comfirma la compra o recupera tu dinero</p>
          </div>

          <div class="detalles">
            <a href="#" class="detallitos"> DETALLES DEL FUNCIONAMIENTO </a>
          </div>

      </div>

      <div class="azul">
          <p class="donec">Donec neque nunc,tristique id commodo et,ultrices ut arcu.Donec a est eu eros aleifend posuere eget quis est.Sed viverra porta mi a obortis.Fusce aliquet nunc at varius dictum.Donec gravida sodales ante a eleifend.Integer et tellus quis tortor scelerisque rutrum.Nullam pellentesque
          </p>
          <p class="alex">Alex  Elias </p>
          <p class="comprador">Comprador</p>
          
      </div>

      <div class="grisclaro">
        <div class="pajaro">
          <figure class="logopajaro">
                <img src="../static/images/pajaro.jpg" alt="#" />
          </figure>
        </div>
          <p class="lorem">@nicedevice lorem ipsum dolor sit amet,
            consectetur adipiscing elitsum dolor sit amet,
            consectetur adipisci
          </p>
        </div>  

      </div>

      <div class="azuldos">
        <p class="recibe">RECIBE NICE DEVICES EN TU CORREO</p>
          <div class="rectangulo">
            <input class="email" type="text" size="50" placeholder="tu email"/>
          </div> 
              
          <div class="cont">
             <a href="#" class="unirme">UNIRME </a> 
          </div>
      </div>
    
      <div class="black">
        <div class="contenedor-nice">
            <figure class="logo">
                <img src="../static/images/nice.jpg" alt="#" />
            </figure>
            <a href="https://es-es.facebook.com/" target="_blank"> 
	            <figure class="colocar">
	                <img src="../static/images/facebook.jpg" alt="#" />
	            </figure>
            </a>
            <a href="https://twitter.com/?lang=es/" target="_blank">
            <figure class="colocar">
                    <img src="../static/images/twitter.jpg" alt="#" />
            </figure>
            </a>
            <a href="https://www.google.es/maps/" target="_blank">
	            <figure class="colocar">
	                <img src="../static/images/google.jpg" alt="#" />
	            </figure>
        	</a>
        </div>

        <div class="contnavegador">

        <div class="segundo">
            <nav>
                <ul class="comprar-uno">
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">COMPRAR</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">Mac</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">iphone</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">ipad</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">ipod</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">Apple TV</a></li>
                    <li class="comprar-final"><a class="comprar-final-uno" href="#">Otros</a></li>
                </ul>
            </nav>
        </div>

        <div class="tercero">
            <nav>
                <ul class="comprar-dos">
                    <li class="comprar-final"><a class="comprar-final-dos" href="#">ACERCA DE NICEDEVICE</a></li>
                    <li class="comprar-final"><a class="comprar-final-dos" href="#">La empresa</a></li>
                    <li class="comprar-final"><a class="comprar-final-dos" href="#">Términos y condiciones</a></li>
                </ul>
            </nav> 
        </div>

        <div class="cuarto">
            <nav>
                <ul class="comprar-tres">
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">AYUDA</a></li>
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">Cómo funciona</a></li>
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">Contacta con nosotros</a></li>
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">Preguntas frecuentes</a></li>
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">Estado de tu compra</a></li>
                    <li class="comprar-final"><a class="comprar-final-tres" href="#">Compra segura con</a></li>
                </ul>
            </nav>
        </div> 
        </div>   
        

      </div>
    
    <footer>
      <p class="pie">Copyright© 2014 nicedevice.com  </p>
      <p class="all">All rights reserved.</p>
        
    </footer>
</body>
</html>