<!DOCTYPE html>
<html lang="es">
<head>
	<title>Portafolio</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/reset.css">
	<link rel="stylesheet"  href="../static/css/sobremi.css">
</head>
<body>
	<header class="yo">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="../../Portafolio/templates/portafolio.html#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link"  href="../../Portafolio/templates/portafolio.html#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="../../Portafolio/templates/portafolio.html#contacto">Contacto</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="../../Portafolio/templates/portafolio.html">Página principal</a>
				</li>

			</ul>
		</nav>

		<div class="orange">
			<p class="sobremi"> Sobre mí </p>
		</div>	

		<div class="white">
			<p class="Texto"> ¡Hola!, me llamo Sergio moya González y soy maquetador web junior. Esta es mi página web(código y diseño realizado por mí) y aquí podréis ver algunos de mis últimos trabajos e información acerca de los mismos.
			 Si te gusta mi trabajo puedes contactar conmigo por medio del formulario que tienes en la página principal.
			</p>

			<h2 class="titulo"> Maquetador web-HTML5 </h2>
				<p class="Texto"> Entre mis técnicas de maquetación utilizo responsive design,metodología bem,pseudo selectores,pseudo clases,progressive enhancement,icomoon,medias queries.</p>
			<h2 class="titulo"> CSS3 </h2>
				<p class="Texto">Entre mis técnicas de css3 puedo utilizar,bordes redondeados,colores RBGA,bordes con imágenes,sombras en box-shadow,sombras en el texto con text-shadow,css media queries. </p>
			<h2 class="titulo"> Javascript </h2>
				<p class="Texto">Entre mis tecnicas de javascript puedo utilizar,variables,arreglos,condicionales,ciclo for y while,funciones,scope,formularios,métodos y propiedades para cadenas de texto,dom. </p>	

			<h2 class="titulo">	Otras tecnologías que utilizo</h2>

				<p class="Texto">Diseño web: adobe phothoshop,adobe illustrator </p>
				<p class="Texto"> Otros: Github,sublime text 3,visual studio code,sourcetree,joomla,word press. </p>

		</div>		
		
	
	<footer>
		
		
	</footer>

</body>
</html>