body{
	background-color: #eaeaea;
}

/*HEADER*/

.esp{
	float: right;
	
}

.esp-cuadrado{
	height: 38px;
	width: 50px;
	background-color: #d2d2d2;
	margin-top: 18px;
	margin-right: 18px;
}

.Menuarriba{
	float: right;
	margin-right: 14px;
	line-height: 70px;
}

.Menuarriba-item{
	display: inline-block;
	margin-right: 14px;
}
.Menuarriba-link{
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #2874b6;
}

.blanco{
	height: 38px;
	width: 54px;
	background-color: #0669b2;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 0.2em;
}

.contenedor-cabecera{
	background-color: #eaeaea;
	height: 70px;
	width: 100%;
}

.logo{
 	height: 90.7px;
	width: 85%; 
	margin: 0 auto;
	line-height: 90.7px;
}

.contenedor-way{
	background-color: #050a12;
	height: 59px;
	width: 100%;
}

.first{	
	font-family: 'Satisfy', cursive;
	font-size: 20px;
	color: #fcfdfd;
	height: 59px;
	width: 80%; 
	margin: 0 auto;
	line-height: 59px;
}

.contenedor-image{
	background-image: url('../images/fotito.jpg?s=988888');
	background-size: 100%;
	height: 111px;
	width: 100%;
}

.second{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	font-style: bold;
	font-weight: 600;
	color: #f4f6f7;
	height: 111px;
	width: 80%; 
	margin: 0 auto;
	line-height: 111px;
	
}

.contenidosegundo{
	margin-top: 20px;
	margin-bottom:20px;
}

/*CONTENEDOR HOME*/

.cont-tree{
	background-color: #eaeaea;
	width: 100%;
}

.tree{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 550;
	color: #8d8d8d;
	width: 80%;
	margin: 0 auto;
	padding-top: 33.2px;
	padding-bottom: 67.6px;
}

span{
	color: #0669b2;
	
}

/*CONTENEDOR PRINCIPAL*/

.cont-principal{
	background-color: #eaeaea;
	overflow: hidden;
	width: 1024px;
	margin: 0 auto 40px auto;	
}

/*formulario*/

form{
	
}
.cont-secundario{	
	float: left;
	width: 20%;	
}

.fondo-blanco{
	background-color: #fff;
	margin-top: 0px;
	padding-top: 18px;
	height: 340px;
}

legend{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: #0669b2;
	color: #f3f6f9;
	height: 65.3px;
	width: 293px;
	line-height: 65.3px;
	margin-bottom: 0px;
}

.search{
	text-align: center;
}

.formulario{
	display: block;
	height: 28px;
	width: 220px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;

}

.titulo{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	color: #666666; 
	margin-left: 35px;

}


.contenedor-search{
	height: 28px;
	width: 100px;
	background-color: #5d9a12;
	border-radius: 0.2em;
	margin-left: 90px;
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 28px;
	
}

.search{
	font-family: tahoma;
	font-size: 13px;
	color: #fff;
}

/*PAGINACION*/

.Paginacion{
	background-color: #fff;
	padding: 10px;
	overflow: hidden;
}

.Paginacion__filter{
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	color: #666666;
	width: 288px;
}

.tipo{
	line-height: 38px;
}

.hole{
	height: 38px;
	width: 235px;
	float: right;
}

.Paginacion__final{
	float: right;

}

/* MAPA */

.Mapa{
	float: right;
	margin-top: 0px;
}

.Mapa-item{
	display: inline-block;
}

.Mapa-link{
	text-decoration: none;
}


/* contenedor central derecha */

.contenido{
	width: 100%;
	margin-top: 20px;

}

.imagen_item{
	float: left;
	display: inline-block;
	margin-bottom: 8px;
		
}

.letras{
	overflow: hidden;
	padding-left: 7px;
	
}

.titulo_item{
	float: right;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;

	
}
.texto{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	color: #5f5a5a;
	line-height: 14px;	
	padding-left: 4px;
}

.he{
	color: #5f5a5a;
	text-decoration: none;
}

.MainMenu{
	clear: both;
	margin-bottom: 25px;
}

.MainMenu-item{
	display: inline-block;
	margin-right: 5px;
}

.azul{
	height: 33px;
	width: 155px;
	background-color: #0669b2;
	border-radius: 0.2em;
	text-align: center;
	line-height: 33px;	
}

.verde{
	height: 33px;
	width: 155px;
	background-color: #5d9a12;
	border-radius: 0.2em;
	text-align: center;
	line-height: 33px;
}

.gris{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #666;
}

.MainMenu-link{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	text-decoration: none;	
}

.MainMenu-link-gris{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #666;
	text-decoration: none;	
	margin-left: 8px;
	margin-right: 10px;
}

/* Busqueda */
.Busqueda{
	float: right;
	width: 70%;
}

/*finalizado*/

.finalizado{
	overflow: hidden;
}

.finalizado-listo{
	border-color: red;
}


.Mapa{
	border: 1px solid #dddddd;
	text-align: center;
}

.Mapa-item{
	border-right: solid #dddddd; border-width: 1px;
}

.Mapa-item:last-child{
	border-right: none;
}


.Mapa-link{

	margin-left: 9.7px;
	margin-right: 9.7px;
	line-height: 33px;
	font-family: tahoma;
	font-size: 13px;
	color: #428bca;
	
}

/*blue*/

.blue{
	height: 44px;
	width: 100%;
	background-color: #0669b2;
	text-align: center;

}

.colocar{
	display: inline-block;
	margin-right: 12px;
}


/*black*/

.Lista{
	width: 33.33333333%;
	float: left;
	text-align: center;
	background-color:  #403f3f;
	height: 133px;
}
.Lista-ordenada{
	padding-top: 22px;
}

.Lista-ordenada-esbelta{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}


/*FOOTER*/

footer{
	float: left;
	width: 100%;

}

.pieterminar{
	height: 133px;
	background-color: #323232;
	text-align: center;
}

.final{
	padding-top: 20px;
}

.parrafo{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	color: #fff;
}



/*  VERSION MOVIL  */

@media screen and (max-width: 600px) {

.esp{
	display: none;
}

.Menuarriba{
	display: none;
}

.logo{
 	height: 90.7px;
	width: 70%; 
	margin: 0 auto;
	line-height: 90.7px;
}

.contenedor-image{
	background-image: none;
	background-color: #5d9a12;
}

.second{
	font-size: 20px;	
	
}


.cont-principal{
	background-color: #eaeaea;
	overflow: hidden;
	width: 1024px;
	margin: 0 auto auto;	
}

.cont-secundario{	
	
	width: 100%;
}



.contenido{
	width: 100%;
	margin-top: 20px;
	margin-left: 0px;
	display: block;

}

.imagen_item{
	float: left;
	display: inline-block;
	margin-bottom: 8px;
		
}


.Paginacion{
	display: none;
}


}


@media screen and (max-width: 768px) {


form{
	width: 80%;
	margin: 0 auto;
}
.cont-secundario{
	margin-bottom: 40px;
	float: left;
	
}

.fondo-blanco{
	background-color: #fff;
	margin-top: 0px;
	padding-top: 18px;
	height: 340px;
}

legend{
	width: 200px;	
}

.formulario{
	
	width: 140px;

}

.titulo{
	margin-left: 30px;
}

.Paginacion{
	margin-left: 250px;
}

.hole{
	height: 30px;
}

.contenedor-search{
	margin-left:48px;
	
}

.item{
	border: none;
}

.imagen_item{
	margin-left: 34px;
}

.titulo_item{
	font-size: 14px;
	margin-left: 29px;
}

.texto{
	display: none;
}

.azul{
	
	width: 100px;
	margin-top: 10px;
	margin-left: 35px;

}

.verde{
	
	width: 100px;
	margin-top: 10px;
	margin-left: 12px;
	
}

.MainMenu-link-gris{
	display: none;
}

.letras{
	width: 165px;
}

.finalizado{
	width: 100%;
	height: 43px;
	background-color: #eaeaea;
	padding-bottom: 25px;
}

.finalizado-listo{
	margin-left: 19px;
}


.Mapa{
	border: solid #dddddd; border-width: 1px;
	height: 33px;
	width: 226px;
	margin-top: 8px;
	margin-left: 30px;
	margin-right: 0px;
	text-align: center;
	float: left;

}

}


/*TABLET 2*/

@media screen and (max-width: 900px) {

legend{
	width: 210px;
}

.fondo-blanco{
	width: 210px;
}

.titulo{
	width: 150px;
}

.formulario{
	width: 150px;
}

.contenedor-search{
	margin: 0 auto;
	margin-top: 50px;
}

.titulo_item{
	margin-left: 12px;
}
.texto{
	margin-left: 9px;
	margin-bottom: 7px;
}

.finalizado-listo{
	margin-left: 20px;
	width: 92%;
}

.Mapa{
	margin-right: 40px;
}

}