<!DOCTYPE html>
<html lang="es">
<head>
	<title>University</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/normalize.css">
	<link rel="stylesheet"  href="../static/css/jose.css">
</head>
<body>

	<header>
			<h1> PASSAGE THROUGHT IEU </h1>				
	</header>
	

	<section class="section-main section-main--who">
		<div class="section-main__foto">
			<nav class="mainMenu">
			<ul class="mainMenu-list">
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#who"><span class="icon-shocked"></span>WHO</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#how"><span class="icon-confused"></span>HOW</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#what"><span class="icon-happy"></span>WHAT</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#where"><span class="icon-smile"></span>WHERE</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#i"><span class="icon-italic"></span></a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#eng"><span>ENG</span></a>
				</li>
			</ul>
			</nav>
			<p class="section-main__description"><span> A transforming experience that will enable you to play a role in shaping the world</span></p>		
		</div>
		<div>
			<h2 class="section-main__title"> WHO </h2>
			<nav>
				<ul class="section-main__list">
					<li class="section-main__item" >
						<a href="#madrid"> OUR STUDENTS </a>
					</li>
					<li class="section-main__item">
						<a  href="#oursegovia"> OURS FACULTY CAMPUS </a>
					</li>
					<li class="section-main__item">
						<a  href="#oursmadrid"> YOUR ADVISOR </a>
					</li>
					<li class="section-main__item">
						<a  href="#onlinecampus"> IE BUSINESS SCHOOL </a>
					</li>						
				</ul>
			</nav>
		</div>		
	</section>

	<section class="section-main section-main--what">
		<div class="section-main__foto">
			<p class="section-main__description2"><span> Our programs are flexible to the professional aspirations of the student</span></p>		
		</div>
		<div>
			<h2 class="section-main__title"> WHAT </h2>
			<nav>
				<ul class="section-main__list">
					<li class="section-main__item">
						<a href="#anunique"> AN UNIQUE LEARNING </a>
					</li>
					<li class="section-main__item">
						<a href="#internationalexperience"> INTERNATIONAL EXPERIENCE </a>
					</li>
					<li class="section-main__item">
						<a href="#entrepreneurhip"> ENTREPRENEURHIP </a>
					</li>
					<li class="section-main__item">
						<a href="#clubsactivities"> CLUBS AND ACTIVITIES </a>
					</li>						
				</ul>
			</nav>

		</div>
	</section>

	<section class="section-main section-main--how">
		<div class="section-main__foto">
			<p class="section-main__description3"><span> A Humanistic education provides personal and intellectual enrichment</span></p>		
		</div>
		<div>
			<h2 class="section-main__title"> HOW </h2>
			<nav>
				<ul class="section-main__list">
					<li class="section-main__item">
						<a href="#anunique">TEACHING METHODOLOGIES </a>
					</li>
					<li class="section-main__item">
						<a href="#internationalexperience"> IE LABS </a>
					</li>
					<li class="section-main__item">
						<a href="#entrepreneurhip"> INTERNSHIPS </a>
					</li>
					<li class="section-main__item">
						<a href="#clubsactivities">OUR FACILITIES </a>
					</li>						
				</ul>
			</nav>

		</div>
	</section>

	<section class="section-main section-main--where">
		<div class="section-main__foto">
			<p class="section-main__description4"><span> IE University's Campus providing students with the comforts of modern living</span></p>		
		</div>
		<div>
			<h2 class="section-main__title"> WHERE </h2>
			<nav>
				<ul class="section-main__list">
					<li class="section-main__item">
						<a href="#anunique">MADRID </a>
					</li>
					<li class="section-main__item">
						<a href="#internationalexperience"> OUR SEGOVIA CAMPUS </a>
					</li>
					<li class="section-main__item">
						<a href="#entrepreneurhip"> OUR MADRID CAMPUS </a>
					</li>
					<li class="section-main__item">
						<a href="#clubsactivities">ONLINE CAMPUS </a>
					</li>
					<li class="section-main__item">
						<a href="#clubsactivities">ACCOMMODATION</a>
					</li>							
				</ul>
			</nav>

		</div>
	</section>
	
	
<footer>
	<p class="ie"> @ 2013, IE UNIVERSITY SPAIN </p>
	
	
		
</footer>


</body>
</html>