<!DOCTYPE html>
<html lang="es">
<head>
	<title>Marcadores</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/normalize.css">
	<link rel="stylesheet"  href="../static/css/marcadores.css">
</head>
<body>

	<section class="Directo-f1">
		<header class="estirar">
			<h1>Gran Premio de Abu Dhabi</h1>
			<div class="bg-bar">
				<div class="bar" style="width:65%">
					<p class="vueltas">	<strong class="negrita-vueltas">34</strong>/65</p>
				</div>
			</div>				
		</header>

		<ol class="Directo-f1__list">
			<li class="Ficha-piloto estirar">
				<article class="bloque1">
					<p class="Ficha-piloto__pos primero"> 1 </p>
					<figure class="Ficha-piloto__foto Imagen-contenedor1">
						<img class="Work-image" src="../static/images/hamilton.jpg" alt="Imagen personal" class="Header-image" />
						<figcaption>Lewis Hamilton</figcaption>	
					</figure>
					<div class="cont-piloto">				
						<p class="Ficha-piloto__nombre">Lewis Hamilton</p>
					</div>	
					<div class="cont-tiempo">
						<p class="Corredor-tiempo"><strong>01:40.480</strong></p>
						<p class="paradas">(2 paradas)</p>
					</div>					
				</article>
			</li>
			<li class="Ficha-piloto estirar">
				<article class="bloque2">
					<p class="Ficha-piloto__pos segundo"> 2 </p>
					<figure class="Ficha-piloto__foto Imagen-contenedor1">
						<img class="Work-image" src="../static/images/hamilton.jpg" alt="Imagen personal" class="Header-image" />
						<figcaption class="Corredor-descripcion">Lewis Hamilton</figcaption>	
					</figure>
					<div class="cont-piloto">				
						<p class="Ficha-piloto__nombre">Lewis Hamilton</p>
					</div>	
					<div class="cont-tiempo">
						<p class="Corredor-tiempo"><strong>01:40.480</strong></p>
						<p class="paradas">(2 paradas)</p>
					</div>
					</figure>
				</article>
			</li>
			<li class="Ficha-piloto estirar">
				<article class="bloque3">
					<p class="Ficha-piloto__pos tercero"> 3 </p>
					<figure class="Ficha-piloto__foto Imagen-contenedor1">
						<img class="Work-image" src="../static/images/hamilton.jpg" alt="Imagen personal" class="Header-image" />
						<figcaption class="Corredor-descripcion">Lewis Hamilton</figcaption>	
					</figure>
					<div class="cont-piloto">				
						<p class="Ficha-piloto__nombre">Lewis Hamilton</p>
					</div>	
					<div class="cont-tiempo">
						<p class="Corredor-tiempo"><strong>01:40.480</strong></p>
						<p class="paradas">(2 paradas)</p>
					</div>
					</figure>	
				</article>
			</li>
		</ol>

		<section class="corredor-clasificaciones">
			
			<ul class="posicion-corredor">					
					<li class="tabla-corredor">
						<p class="numero"> 4</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 5</p>	
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 6</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 7</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 8</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 9</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 10</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 11</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 12</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 13</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 14</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
				 
					
					<li class="tabla-corredor">
						<p class="numero"> 15</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 16</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 17</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 18</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 19</p>
						<a class="corredor" href="#">HAM</a>
					</li>
					
					<li class="tabla-corredor">
						<p class="numero"> 20</p>
						<a class="corredor" href="#"> HAM</a>
					</li>
					
				</ul>
		
			</section>
			
		</section>

		

</body>
</html>