<!DOCTYPE html>
<html lang="es">
<head>
	<title>FanOnTour</title>
	<meta charset="UTF-8">
		<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet"  href="../static/css/fanontour.css">
</head>
<body>
	<header>
			
			<div class="esp">
					<select class="esp-cuadrado">
						<option value="esp-pestana">
							ES
						</option>
					</select>
			</div>	

			<nav class="Menuarriba">
						<ul class="Menuarriba-list">
							<li class="Menuarriba-item">
								<a class="Menuarriba-link" href="#">How IT works</a>
							</li>
							<li class="Menuarriba-item">
								<a class="Menuarriba-link" href="#">Login</a>
							</li>
							<li class="Menuarriba-item azulito">
								<a class="Menuarriba-link blanco" href="#">Register</a>
							</li>
						</ul>
				</nav>	
	
			<div class="contenedor-cabecera">
				<figure class="logo">
					<img src="../static/images/logo.jpg" alt="#" />
				</figure>
				
			</div>

			<div class="contenedor-way">	
				<p class="first">Do it your way!</p>
			</div>

			<div class="contenedor-image">	
				<p class="second">RESULTS: ACTIVITIES</p>
			</div>	
						
	</header>
	
	
		<div class="cont-tree">	
			<P class="tree"> <span>Home</span>>Results: Activities </P>
		</div>	

		<div class="cont-principal">
				
			<div class="cont-secundario">
			 <form>

				<fieldset>
  						<legend><p class="search">SEARCH DETAILS</p></legend>
 				<div class="fondo-blanco">
  					<label class="titulo" for="city">City</label>
  					<input class="formulario" type="text" />
 
  					<label class="titulo" for="from">From</label>
  					<input class="formulario" type="text"  size="50" placeholder="24/10/2014" />
 
  					<label class="titulo" for="to">To</label>
  					<input class="formulario" type="text"  size="50" placeholder="24/10/2014" />
						<div class="contenedor-search"> 
  							<P class="search"> SEARCH </P>
  						</div>
  				</div>			
				</fieldset>
			</div>	
			</form>	

			<div class="Busqueda">

				<div class="Paginacion">  
	    			<div class="Paginacion__filter"> 
	    					<label class="tipo">Order by:</label>
	    				<select class="hole">
	    					<option value="valor"></option>
	    				</select>
	    			</div>
	    			<div class="finalizado">
						<div class="finalizado-listo">
							<ul class="Mapa">
			    				<li class="Mapa-item">
									<a class="Mapa-link" href="#"> < </a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">1</a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">2</a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">3</a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">4</a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">5</a>
								</li>
								<li class="Mapa-item">
									<a class="Mapa-link" href="#">></a>
								</li>		
							</ul>
						</div>	
					</div>   			
				</div>	
			<section class="contenido">
					<article class="item">
							<figure class="imagen_item">
								<img src="../static/images/foto2.jpg" alt="#" />
							</figure>	
							<div class="letras">
								<h2 class="titulo_item">
									<a class="he" href="#">
									Popovich Comecy Pet Theater at Planet Hollywood Resort and Cas no
									</a>
								</h2>	
									<p class="texto"> Gregory Popovich's Cornedy Pet Theater is an extravaganza of juggling. European-style comedy and a furry entourage of performing cats and dogs. This unique and hilarious show featuring cats and amazing dogs, all who have been rescued from animal shelters. The ring-leader is Moscow Circus Superstar and master juggler Gregory Popovich. Bring the whole family for an afternoon of fun! </p>
							</div>	
						<nav class="MainMenu">
							<ul class="MainMenu-list">
								<li class="MainMenu-item azul">
									<a class="MainMenu-link" href="#45e">45 E</a>
								</li>
								<li class="MainMenu-item verde">
									<a class="MainMenu-link" href="#bookhere">Book here</a>
								</li>
								<li class="MainMenu-item">
									<a class="MainMenu-link-gris" href="#70minuts">70 minuts</a>
								</li>
								<li class="MainMenu-item">
									<a class="MainMenu-link-gris" href="#foundinviator">Found in <span>viator</span></a>
								</li>
							</ul>
						</nav>

				
					</article>

				</section>
				<section class="contenidosegundo">
					<article class="item">
							<figure class="imagen_item">
								<img src="../static/images/foto2.jpg" alt="#" />
							</figure>	
							<div class="letras">
								<h2 class="titulo_item">
									<a class="he" href="#">
									Popovich Comecy Pet Theater at Planet Hollywood Resort and Cas no
									</a>
								</h2>	
									<p class="texto"> Gregory Popovich's Cornedy Pet Theater is an extravaganza of juggling. European-style comedy and a furry entourage of performing cats and dogs. This unique and hilarious show featuring cats and amazing dogs, all who have been rescued from animal shelters. The ring-leader is Moscow Circus Superstar and master juggler Gregory Popovich. Bring the whole family for an afternoon of fun! </p>
							</div>	
						<nav class="MainMenu">
							<ul class="MainMenu-list">
								<li class="MainMenu-item azul">
									<a class="MainMenu-link" href="#45e">45 E</a>
								</li>
								<li class="MainMenu-item verde">
									<a class="MainMenu-link" href="#bookhere">Book here</a>
								</li>
								<li class="MainMenu-item">
									<a class="MainMenu-link-gris" href="#70minuts">70 minuts</a>
								</li>
								<li class="MainMenu-item">
									<a class="MainMenu-link-gris" href="#foundinviator">Found in <span>viator</span></a>
								</li>
							</ul>
						</nav>

				
					</article>

				</section>
				</div>
			</div>


			

		<div class="blue">
				<figure class="colocar">
					<a href="https://es-es.facebook.com/" target="_blank"> <img src="../static/images/facebook.jpg" alt="#" />
				</figure>
				<figure class="colocar">
					<a href="https://www.google.es/maps/" target="_blank"> <img src="../static/images/google.jpg" alt="#" />
				</figure>
				<figure class="colocar">
					<a href="https://twitter.com/?lang=es/" target="_blank"> <img src="../static/images/twitter.jpg" alt="#" />
				</figure>
				<figure class="colocar">
					<a href="https://instagram.com/" target="_blank"> <img src="../static/images/instagram.jpg" alt="#" />
				</figure>
				<figure class="colocar">
					<a href="https://es.pinterest.com/" target="_blank"> <img src="../static/images/pintarest.jpg" alt="#" />
				</figure>
		</div>	


		<div class="black">
			<div class="mod-negro primero">
				<nav>
					<ul class="Lista">
						<li class="Lista-ordenada"><a  class="Lista-ordenada-esbelta" href="#">How it works</a></li>
						<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">About us</a></li>
						<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">Contact us</a></li>
					</ul>
				</nav>
			</div>	
	
			<div class="mod-negro segundo">
				<nav>
					<ul class="Lista">
						<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">our partners</a></li>
						<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">FAQ</a></li>
						<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">Work with us</a></li>
					</ul>
				</nav>
		
				<div class="mod-negro tercero">
					<nav>
						<ul class="Lista">
							<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">Terms and conditions</a></li>
							<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">Privacy policy</a></li>
							<li class="Lista-ordenada"><a class="Lista-ordenada-esbelta" href="#">Donate to charity</a></li>
						</ul>
					</nav>
				</div>
			</div>

<footer>

	<div class="pieterminar">
		<figure class="final">
			<img src="../static/images/foto5.jpg" alt="#" />
		</figure>
			<p class="parrafo">The event and travel advisor website.
			</p>
			<p class="parrafo">
			Copyright @ 2103 Events Tickets Services S.L.U. Allrights reserved
			</p>
	</div>
			
</footer>
	
	



</body>
</html>