<!DOCTYPE html>
<html lang="es">
<head>
	<title>University</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/normalize.css">
	<link rel="stylesheet"  href="../static/css/jose2.css">
</head>
</head>
<body>

	<section >
		
			<nav class="mainMenu">
			<ul class="mainMenu-list">
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#who"><span class="icon-shocked"></span> WHO</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#how"><span class="icon-confused"></span>HOW</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#what"><span class="icon-happy"></span>WHAT</a>
				</li>
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#where"><span class="icon-smile"></span>WHERE</a>
				</li>
				<li>
			<ul class="list-info-language">
				<li class="mainMenu-item">
					<a class="mainMenu-link" href="#i"><span class="icon-italic"></span>INFO</a>
				</li>
				<li >
					<a class="mainMenu-link">ESP - ENG</a>

							<!-- Al hacer click en el enlace se desplegarían las opciones de idioma -->
							<!--<ul class="mainMenu-list">	
								<li class="mainMenu-item">
									<a class="mainMenu-link" href="#eng">ESP</a>
								</li>
								<li>
									<a class="mainMenu-link" href="#eng">ENG</a>
								</li>
							</ul>-->
				</li>
			</ul>
				</li>
			</ul>
			</nav>			
		</section>	
	<div class="container">

	<header>
			<h1> PASSAGE THROUGHT IEU </h1>				
	</header>
	

	<div class="Text">	
		<div class="text1">
			<p class="global"> WE ARE INTERNATIONAL.WE ARE GLOBAL </p>
		</div>
		<div class="text2">	
			<p class="university"> <strong>IE University</strong> is an environment where students open up to new areas of thought,<strong>research</strong> or development into the unexplored.The unique learning environment at IE University is based on its key pillars of personalization.</p>
		</div>	
	</div>
	
	
	</div>	



</body>
</html>