

 .MainMenu
{
	background: #E6E6E6;
	text-align: center;
	height: 4.6em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
.MainMenu-list
{
	margin: 0;
	padding: 0;
}
.MainMenu-item
{
	display: inline-block;
}
.MainMenu-link
{
	color: black;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 1.5em;
}

.MainMenu-link:hover {
	color: orange; 
	
}

header
{
	text-align: center;
}

.Header-imageContainer{
	background-image: url('../images/fotoprincipal.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}


.Work-image
{
	border: 5px solid white;
	border-radius: 50%;
}
.Work-description{
	padding-top: 50px;
}
.Header-link
{
	color: white;
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}
.Header-link:hover
{
	color: orange;
}
.Header-name
{
	color: white;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 0;
}
.Perfil-title
{
	color: #1d2126;
	border-bottom: 2px dashed #1d2126;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 80px;
	padding-bottom: 0.5em;
	text-align: center;

}
.Work-title
{
	
	color: #1d2126;
	border-bottom: 2px dashed #1d2126;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 120px;
	margin-bottom: 60px;
	padding-bottom: 0.5em;
	text-align: center;

}
.Perfil
{
	text-align: center;
}

.Perfil-description{
	margin-bottom: 40px;
}
.Perfil-link
{
	background: #1d2126;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	margin-right: 0.5em;
}

.Perfil-link:hover
{
	background: orange;
}
.trabajo
{
	margin-top: 2em;
	text-align: center;

}
.Work-item
{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}
.Work-imageContainer
{
	margin: 0;
}
.Work-image2:hover {
  filter: opacity(.5);
}
.Work-imageContainer img
{
	border: 3px #333 solid;
}		
.Work-description
{
	margin-top: 50px;
	font-size: 1.1em;
	color: #515151;
	font-style: italic;
}
.trabajo .Work-description{
	margin-top: 0;
	padding-top: 20px;
}

/* footer */
.contacto
{
	
	background-color: #1d2126;
	padding: 2em 0;
	text-align: center;
}

.Footer-description{
	color: white;
}

.footer-form
{
	text-align: center;
	display: inline-block;
}

.Footer-formInput
{
	background: white;
	border:none;
	display: block;
	margin-bottom: 1em;
	border-radius: 7px;
	padding: 0.5em;
	margin: 0 auto 1em;
}

.Footer-textarea
{
	background: white;
	border:none;
	display: block;
	margin-bottom: 1em;
	border-radius: 7px;
	padding: 0.5em;
	margin: 0 auto 1em;
	resize:none;
}

.Footer-buttom
{
	background: orange;
	color: white;
	border-radius: 0.4em;
	border: none;
	padding: 0.5em 1em;
}
.Footer-buttom:hover {
        filter: saturate(230%);
    }
.Footer-title
{
	color: white;
}

.Footer1
{
	display: inline-block;
	width: 56%;
	text-align: center;
	vertical-align: top;
}

/* Responsive Design */

@media screen and (max-width: 1280px){ 
     
.Header-imageContainer{
	background-image: url('../images/fotoprincipal2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 855px;
	width: 100%;
}

}

@media screen and (max-width: 640px){ 
     
.Header-imageContainer{
	background-image: url('../images/fotoprincipal3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 400px;
}

@media screen and (max-width: 342px){ 
     
.MainMenu
{
	height: 8em;
}

}

