<!DOCTYPE html>
<html lang="es">
<head>
	<title>bq</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"  href="../static/css/reset.css">
	<link rel="stylesheet"  href="../static/css/bq.css">
</head> 

<body>

	<header>
		
		<h1 class="logo">Logo</h1>			
		<nav class="MainMenu">
					

			<ul class="MainMenu-list">
				
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#item1">item 1</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#item2">item 2</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="item3">item 3</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="item4">item 4</a>
				</li>
			</ul>
		</nav>
		
		
	</header>

<main class="color">	


	<section class="Type-section categories">
		<h2 class="title-categories">Categories</h2>
			
			<nav class="FirstMenu">

			<ul class="FirstMenu-list centrar">
				
				<li class="FirstMenu-item">
					<a class="FirstMenu-link" href="#item1">item 1</a>
				</li>
				<li class="FirstMenu-item">
					<a class="FirstMenu-link" href="#item2">item 2</a>
				</li>
				<li class="FirstMenu-item">
					<a class="FirstMenu-link" href="item3">item 3</a>
				</li>
				<li class="FirstMenu-item">
					<a class="FirstMenu-link" href="item4">item 4</a>
				</li>
			</ul>
		</nav>			
	</section>

	<section class="Type-section catalogue">

		<h2 class="title-catalogue">Catalogue</h2>
					
			<ul class="list-catalogue">

				<li class="images">
					<a href="Product"><img class="pequena"src="../static/img/foto.jpg" alt="Product" /></a>
				</li>
				<li class="images">
					<a href="#"><img class="pequena" src="../static/img/foto.jpg" alt="Product" /></a>
				</li>
				<li class="images">
					<a href="#"><img class="pequena" src="../static/img/foto.jpg" alt="Product" /></a>
				</li>
				<li class="images">
					<a href="#"><img class="pequena" src="../static/img/foto.jpg" alt="Product" /></a>
				</li>

			</ul>
	</section>

	<section class="Type-section featured">

		<h2 class="title-featured">Featured product</h2>
		<h3>Lorem ipsum dolor</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Voluptates distinctio</strong> non nostrum ea delectus alias excepturi, quasi soluta dolor dolores fugiat illo vitae harum voluptatem veniam reprehenderit, maiores itaque mollitia.</p>

		<div class="contenedor">
			<div class="foto">
				<img class="foto-ancha" src="../static/img/main-product.png" alt="Product">
			</div>
			<div class="form">
				<form action="#" method="post">
					<p class="request">Request Form</p>
						<div class="form-class">
							<label for="name" class="name"></label>
							<input type="text" class="form-formulario" id="name" placeholder="Name" required>
						</div>
						<div class="form-class">
							<label for="email" class="sr-only"></label>
							<input type="email" class="form-formulario" id="email" placeholder="email" required>
						</div>
							<button class="boton">Send</button>
				</form>
			</div>

		</div>	
		</div>

					
	</section>				

</main>	

	<div class="black">
		<footer class="pie">
			<h2 class="foot">FOOTER</h2>
			<div class="mod-footer primero">
				<p class="titulos">Heading</p>	
				<nav>
					<ul class="mod-footer__list puntos">
						<li><a href="#">item 1</a></li>
						<li><a href="#">item 2</a></li>
						<li><a href="#">item 3</a></li>
						<li><a href="#">item 4</a></li>
					</ul>
				</nav>
			</div>
			<div class="mod-footer segundo">
				<p class="titulos">Heading</p>	
				<nav>
					<ol class="mod-footer__list numeros">
						<li><a href="#">item 1</a></li>
						<li><a href="#">item 2</a></li>
						<li><a href="#">item 3</a></li>
						<li><a href="#">item 4</a></li>
					</ol>
				</nav>
			</div>
			<div class="mod-footer tercero">
				<p class="titulos">Heading</p>	
				<nav>
					<ul class="mod-footer__list puntos">
						<li><a href="#">item 1</a></li>
						<li><a href="#">item 2</a></li>
						<li><a href="#">item 3</a></li>
						<li><a href="#">item 4</a></li>
					</ul>
				</nav>
			</div>

		</footer>	
	</div>	

</body>
</html>